.section-usereducer {
	max-width: 100rem;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

/*--------------TODO LIST----------------*/

.tareas-section {
	min-width: 35rem;
	max-width: 35rem;
	height: 43rem;
	margin-top: 2.5rem;
	padding: 2rem;
	background-color: #fdfdfd;
	display: flex;
	flex-direction: column;
	gap: 2.2rem;
}

.tareas-section input[type="text"] {
	padding: 1rem;
	font-size: 1.4rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	width: 100%;
}

.tareas-button {
	width: 100%;
	padding: 1rem;
	font-size: 1.4rem;
	background-color: #ffc0dd;
	color: #313131;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.3s ease;
}

.tareas-button:hover {
	background-color: #ffa6cf;
}

.mensaje-error {
	color: #d82149;
	font-size: 1.3rem;
	text-align: center;
}

.tareas-ul {
	list-style: none;
	overflow-y: scroll;
	padding-right: 0.8rem;
	height: 30rem;
}

.tareas-ul::-webkit-scrollbar {
	width: 0.8rem;
}
.tareas-ul::-webkit-scrollbar-thumb {
	background-color: rgba(0, 112, 204, 0.671);
	border-radius: 0.4rem;
}
.tareas-ul::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.096);
}

.tareas-li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8rem 1rem;
	margin-bottom: 0.6rem;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0.6rem;
}

.tareas-li input[type="checkbox"] {
	margin-right: 1rem;
}

.tareas-span {
	flex: 1;
	font-size: 1.5rem;
	margin-right: 1rem;
}

.tarea-completada {
	text-decoration: line-through;
	color: #aaa;
}

.tareas-eliminar-button {
	background: none;
	border: none;
	font-size: 1.4rem;
	cursor: pointer;
}

/*--------------SHOPPING CART----------------*/
.card-shop {
	width: 100%;
	height: 43rem;
	padding: 0 2rem;
	background-color: #fdfdfd;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.div-shop,
.div-cart {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.p-shop,
.p-cart {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1rem 0.3rem;
	text-align: left;
}

.ul-shop,
.ul-cart {
	list-style: none;
	width: 100%;
	height: 16.2rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	border: 1px solid #ddd;
	border-radius: 0.6rem;
}

.ul-shop::-webkit-scrollbar,
.ul-cart::-webkit-scrollbar {
	width: 0.8rem;
}
.ul-shop::-webkit-scrollbar-thumb,
.ul-shop::-webkit-scrollbar-thumb {
	background-color: rgba(0, 112, 204, 0.671);
	border-radius: 0.4rem;
}
.ul-shop::-webkit-scrollbar-track,
.ul-shop::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.096);
}

.li-shop,
.li-cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 1.5rem;
}

.span-shop,
.span-cart {
	font-size: 1.5rem;
	width: 100%;
	text-align: left;
}

.span-shop-price {
	font-size: 1.5rem;
	width: 100%;
}

.div-final-cart {
	margin-top: 1rem;
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #ddd;
}

.p-final-cart {
	font-size: 1.7rem;
	font-weight: 500;
}

.button-shop {
	padding: 0.6rem 1rem;
	border: none;
	background-color: #ffc0dd;
	color: #000000;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: 0.3s ease;
	font-size: 1.5rem;
}

.button-cart-shop {
	padding: 0.6rem 0;
	border: none;
	background-color: transparent;
	color: #000000;
	cursor: pointer;
	font-size: 1.5rem;
}

.button-shop:hover {
	background-color: #ffa6cf;
}

.empty-cart {
	color: #999;
	font-style: italic;
	font-size: 1.5rem;
	padding-top: 7rem;
}
